<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Demo</title>
</head>
<body>
    <div th:replace="~{fragments/header::header}"></div>
    <div style="text-align: center;">
        <h3 th:text="${userModel.title}">TITLE</h3>
        <form action="/users" method="post" th:object="${userModel.user}" style="margin: 0 auto;">
            <label style="display:none">编号：</label><input type="hidden" name="id" th:value="*{id}">
            <label>姓名：</label><input type="text" name="name" th:value="*{name}"><br>
            <label>性别：</label>
                  <input type="radio" name="sex" value="1" th:checked="*{sex == 1}" title="男"><label>男</label>
                  <input type="radio" name="sex" value="0" th:checked="*{sex == 0}" title="女"><label>女</label>
                  <br>
            <label>年龄：</label><input type="text" name="age" th:value="*{age}"><br>
            <label>籍贯：</label><input type="text" name="location" th:value="*{location}"><br>
            <label> QQ：  </label><input type="text" name="qq" th:value="*{qq}"><br>
            <label> 邮箱：</label><input type="text" name="email" th:value="*{email}"><br>
            <input type="submit" value="提交">
            <input type="reset" value="重置">
        </form>
    </div>
    <div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>